01_Building_a_RESTful_Web_Service/.project
01_Building_a_RESTful_Web_Service/.classpath
01_Building_a_RESTful_Web_Service/.settings
01_Building_a_RESTful_Web_Service/target/*
02_Consuming_a_RESTful_Web_Service/.project
02_Consuming_a_RESTful_Web_Service/.classpath
02_Consuming_a_RESTful_Web_Service/.settings
02_Consuming_a_RESTful_Web_Service/target/*
03_Accessing_Relational_Data_using_JDBC_with_Spring/.project
03_Accessing_Relational_Data_using_JDBC_with_Spring/.classpath
03_Accessing_Relational_Data_using_JDBC_with_Spring/.settings
03_Accessing_Relational_Data_using_JDBC_with_Spring/target/*
